@font-face {
    font-family: "TTLakes Regular";
    font-style: normal;
    font-weight: 400;
    src: local("TTLakes Regular"),
         local("TTLakes-Regular"),  
         url("../fonts/TTLakes-Regular.woff") format("woff"),
         url("../fonts/TTLakes-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "TTLakes Medium";
    font-style: normal;
    font-weight: 400;
    src: local("TTLakes Medium"),
         local("TTLakes-Medium"),  
         url("../fonts/TTLakes-Medium.woff") format("woff"),
         url("../fonts/TTLakes-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "TTLakes Bold";
    font-style: normal;
    font-weight: 700;
    src: local("TTLakes Bold"),
         local("TTLakes-Bold"),  
         url("../fonts/TTLakes-Bold.woff") format("woff"),
         url("../fonts/TTLakes-Bold.ttf") format("ttf");
}
