.modal__call {
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba($color: $colorwhite, $alpha: 0.96);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}
.call__body {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color:$colorwhite;
    border-left: 1px solid $colorbuttonturquase;
    z-index: 1;
    max-width: 440px;
}
.call__content {
    padding: 20px 32px;
    font-size: 14px;
}
.modal__call:target {
    visibility: visible;
    opacity:1;
}
.call__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.call__exit {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $colorpink;
    border-radius: 50%;
    position: absolute;
    left: -75px;
    top: 40px;
   
}
.table-btn.form {
    position: absolute;
    right: 32px;
}
.form__text {
    span {
        color: $colorpink;
    }
}
input {
    width: 90%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid $colorborderbutton;
    font-family: "TTLakes Regular";
    font-size: 16px;
    
}